:root{
  --bg:white;
  --textColor:black;
  --softBg:#d6d3d3;
  --softTextColor:#626262;
  text-align: center;
}

*{
  padding: 0;
  margin: 0;
}

.dark{
  --bg:#0f172a;
  --textColor:#ddd;
  --softBg:#1f273a;
  --softTextColor:#a6a6a6;
}

.light{
  --bg:white;
  --textColor:black;
  --softBg:#d6d3d3;
  --softTextColor:#626262;
}

.container{
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}




.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
